<!DOCTYPE html>
<html lang="en">

<head>
    <title>Couple Timeline</title>

    <link rel='stylesheet' href='/stylesheets/common.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    .btnProperty{
      background-color: pink;
      border: none;
      text-align: center;
      text-decoration:none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    .btnProperty:hover{
      background-color: #87CEFA;
      border: 2px solid #87CEFA;
    }
    </style>
    <script type="text/javascript">
    // 유효성 검사하는 함수
      function validationCheck(){
        // html form으로부터 값을 받아옵니다.
        var name = document.getElementById('name').value;
        var id = document.getElementById('id').value;
        var pw = document.getElementById('pw').value;
        var phonenum = document.getElementById('phonenum').value;
        var email = document.getElementById('email').value;

        return true;
      }
    </script>
</head>
<body>
  <div class="col-md-1">
      <a href="/"><img src="/res/icon.png" class="mainIcon"></a>
  </div>
    <div class="col-md-3 col-md-push-3 format" >
      <h1> Join </h1>
      <form action="/join" method="post" onsubmit=" return validationCheck();">
        <div class="form-group">
          <label for="name" class="labelFont">Name</label>
          <input type="text" class="form-control" name="userName" id="name" placeholder="Name" required/>
        </div>
        <div class="form-group">
          <label for="id" class="labelFont">ID</label>
          <input type="text" class="form-control" name="userId" id="id" placeholder="ID" required/>
        </div>
        <div class="form-group">
          <label for="pw" class="labelFont">Password</label>
          <input type="text" class="form-control" name="userPw" id="pw" placeholder="Password" required/>
        </div>
        <div class="form-group">
          <label for="phonenum" class="labelFont">Phone Number</label>
          <input type="text" class="form-control" name="userPhone" id="phonenum" placeholder="Phone number" required/>
        </div>
        <div class="form-group" >
          <label for="email" class="labelFont">Email Address</label>
          <input type="text" class="form-control" name="userEmail" id="email" placeholder="ID@email.com" required/>
        </div>
        <div class="btn-Ali-Right">
          <input type="submit" value="JOIN" class=" btnProperty btn btn-primary">
        </div>
      </form>
    </div>
    <div>
      <% if(!flag){ %>
        <h2> This user already exist! </h2>
        <% } %>
    </div>
</body>
</html>
